*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form{
    background-image: linear-gradient(rgb(68, 238, 111), rgb(3, 163, 163));
    width: 400px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 10px;
}
#forms{
    margin: 10px auto;
    width: 375px;
}
h2{
    text-align: center;
    color: rgb(241, 243, 240);
    padding: 15px;
}
label{
    padding: 5px;
    font-size: 20px;
    color: #f8f5f6;
    font-weight: bold;
}
input{
    padding: 10px;
    margin: 5px;
    width: 350px;
    border-radius: 5px;
    border: none;
}
#btn{
    padding: 10px;
    margin: 20px auto;
    width: 356px;
    font-size: 20px;
    color: rgb(145, 143, 143);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#btn:hover{
    background-image: linear-gradient(teal, yellow);
    color: white;
}
::placeholder{
    color: rgb(185, 177, 177);
}